In [1]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

In [2]:
dt_p = Path("./nsw_property_data.csv")

In [3]:
# Reading whale returns
pty_df = pd.read_csv(dt_p, parse_dates=True, infer_datetime_format=True)
pty_df.head()

,property_id,download_date,council_name,purchase_price,address,post_code,property_type,strata_lot_number,property_name,area,area_type,contract_date,settlement_date,nature_of_property,primary_purpose,legal_description
0,1216810.0,2023-02-27,CABONNE,3200000.0,"5796 MITCHELL HWY, LARRAS LEE",2866.0,house,NaN,THREE RIVERS,147.20,H,2022-10-20,2022-12-05,R,RESIDENCE,PT 2/630113
1,1217803.0,2023-02-27,CABONNE,410000.0,"53 BANK ST, MOLONG",2866.0,house,NaN,NaN,2023.00,M,2023-02-20,2023-02-21,3,COMMERCIAL,12/25/758693
2,3380305.0,2023-02-27,CABONNE,4125000.0,"244 CROCKETTS LANE, LARRAS LEE",2866.0,house,NaN,BONNIE DOON,213.38,H,2022-07-28,2023-02-20,R,RESIDENCE,84/756908
3,2082468.0,2023-02-27,WOOLLAHRA,1450000.0,"2/110 CASCADE ST, PADDINGTON",2021.0,unit,2.0,NaN,123.00,M,2022-12-09,2023-02-17,R,RESIDENCE,2/SP19410
4,2080204.0,2023-02-27,WOOLLAHRA,2400000.0,"2/6 BERESFORD RD, ROSE BAY",2029.0,unit,2.0,NaN,198.80,M,2022-10-20,2023-02-23,R,RESIDENCE,2/SP5601

In [4]:
# check whether property id is unique values
display(pty_df['property_id'].duplicated().sum())
#check how many roles exist in data
display(pty_df.count())

1090639

property_id           2304446
download_date         2308542
council_name          2308542
purchase_price        2308424
address               2308542
post_code             2306534
property_type         2308542
strata_lot_number      789517
property_name           70431
area                  1590395
area_type             1590355
contract_date         2308312
settlement_date       2308537
nature_of_property    2308542
primary_purpose       2261774
legal_description     2303845
dtype: int64

In [5]:
#remove property_name and strata_lot_number as they holds the majority of nulls and are irrelevant for scope of analysis
pty_df.drop(columns=['strata_lot_number', 'property_name','legal_description'],inplace=True)
pty_df

,property_id,download_date,council_name,purchase_price,address,post_code,property_type,area,area_type,contract_date,settlement_date,nature_of_property,primary_purpose
0,1216810.0,2023-02-27,CABONNE,3200000.0,"5796 MITCHELL HWY, LARRAS LEE",2866.0,house,147.20,H,2022-10-20,2022-12-05,R,RESIDENCE
1,1217803.0,2023-02-27,CABONNE,410000.0,"53 BANK ST, MOLONG",2866.0,house,2023.00,M,2023-02-20,2023-02-21,3,COMMERCIAL
2,3380305.0,2023-02-27,CABONNE,4125000.0,"244 CROCKETTS LANE, LARRAS LEE",2866.0,house,213.38,H,2022-07-28,2023-02-20,R,RESIDENCE
3,2082468.0,2023-02-27,WOOLLAHRA,1450000.0,"2/110 CASCADE ST, PADDINGTON",2021.0,unit,123.00,M,2022-12-09,2023-02-17,R,RESIDENCE
4,2080204.0,2023-02-27,WOOLLAHRA,2400000.0,"2/6 BERESFORD RD, ROSE BAY",2029.0,unit,198.80,M,2022-10-20,2023-02-23,R,RESIDENCE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2308537,3132959.0,2004-12-16,WOLLONGONG,315000.0,"16 BALMER CRES, WOONONA",2517.0,house,692.60,M,2004-08-13,2004-12-03,R,RESIDENCE
2308538,3134370.0,2004-12-16,WOLLONGONG,495000.0,"40/4 BANK ST, WOLLONGONG",2500.0,unit,NaN,NaN,2003-02-18,2004-12-08,R,RESIDENCE
2308539,3135607.0,2004-12-16,WOLLONGONG,490000.0,"HOLLYMOUNT VIEW, WOONONA",2517.0,house,677.30,M,2004-06-09,2004-12-01,V,VACANT LAND
2308540,3137396.0,2004-12-16,WOLLONGONG,190000.0,"1/186 BALGOWNIE RD, BALGOWNIE",2519.0,unit,NaN,NaN,2004-05-27,2004-11-29,R,RESIDENCE
2308541,3138813.0,2004-12-16,WOLLONGONG,380000.0,"HAWTHORN ST, TARRAWANNA",2518.0,house,21.17,H,2003-12-15,2004-06-25,V,VACANT LAND

In [6]:
pty_df['suburb']=pty_df['address'].str.rsplit(',').str[-1]
pty_df

,property_id,download_date,council_name,purchase_price,address,post_code,property_type,area,area_type,contract_date,settlement_date,nature_of_property,primary_purpose,suburb
0,1216810.0,2023-02-27,CABONNE,3200000.0,"5796 MITCHELL HWY, LARRAS LEE",2866.0,house,147.20,H,2022-10-20,2022-12-05,R,RESIDENCE,LARRAS LEE
1,1217803.0,2023-02-27,CABONNE,410000.0,"53 BANK ST, MOLONG",2866.0,house,2023.00,M,2023-02-20,2023-02-21,3,COMMERCIAL,MOLONG
2,3380305.0,2023-02-27,CABONNE,4125000.0,"244 CROCKETTS LANE, LARRAS LEE",2866.0,house,213.38,H,2022-07-28,2023-02-20,R,RESIDENCE,LARRAS LEE
3,2082468.0,2023-02-27,WOOLLAHRA,1450000.0,"2/110 CASCADE ST, PADDINGTON",2021.0,unit,123.00,M,2022-12-09,2023-02-17,R,RESIDENCE,PADDINGTON
4,2080204.0,2023-02-27,WOOLLAHRA,2400000.0,"2/6 BERESFORD RD, ROSE BAY",2029.0,unit,198.80,M,2022-10-20,2023-02-23,R,RESIDENCE,ROSE BAY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2308537,3132959.0,2004-12-16,WOLLONGONG,315000.0,"16 BALMER CRES, WOONONA",2517.0,house,692.60,M,2004-08-13,2004-12-03,R,RESIDENCE,WOONONA
2308538,3134370.0,2004-12-16,WOLLONGONG,495000.0,"40/4 BANK ST, WOLLONGONG",2500.0,unit,NaN,NaN,2003-02-18,2004-12-08,R,RESIDENCE,WOLLONGONG
2308539,3135607.0,2004-12-16,WOLLONGONG,490000.0,"HOLLYMOUNT VIEW, WOONONA",2517.0,house,677.30,M,2004-06-09,2004-12-01,V,VACANT LAND,WOONONA
2308540,3137396.0,2004-12-16,WOLLONGONG,190000.0,"1/186 BALGOWNIE RD, BALGOWNIE",2519.0,unit,NaN,NaN,2004-05-27,2004-11-29,R,RESIDENCE,BALGOWNIE
2308541,3138813.0,2004-12-16,WOLLONGONG,380000.0,"HAWTHORN ST, TARRAWANNA",2518.0,house,21.17,H,2003-12-15,2004-06-25,V,VACANT LAND,TARRAWANNA

In [7]:
pty_df.isnull().sum()

property_id             4096
download_date              0
council_name               0
purchase_price           118
address                    0
post_code               2008
property_type              0
area                  718147
area_type             718187
contract_date            230
settlement_date            5
nature_of_property         0
primary_purpose        46768
suburb                     0
dtype: int64

In [8]:
(pty_df['area'].isnull().sum()/pty_df['area'].isnull().count())*100

31.10824927594993

In [9]:
#count number of records/ data size for analysis
pty_df.dropna().count()

property_id           1561101
download_date         1561101
council_name          1561101
purchase_price        1561101
address               1561101
post_code             1561101
property_type         1561101
area                  1561101
area_type             1561101
contract_date         1561101
settlement_date       1561101
nature_of_property    1561101
primary_purpose       1561101
suburb                1561101
dtype: int64

In [10]:
# To confirm sample size and commit
pty_df=pty_df.dropna().copy()
pty_df

,property_id,download_date,council_name,purchase_price,address,post_code,property_type,area,area_type,contract_date,settlement_date,nature_of_property,primary_purpose,suburb
0,1216810.0,2023-02-27,CABONNE,3200000.0,"5796 MITCHELL HWY, LARRAS LEE",2866.0,house,147.20,H,2022-10-20,2022-12-05,R,RESIDENCE,LARRAS LEE
1,1217803.0,2023-02-27,CABONNE,410000.0,"53 BANK ST, MOLONG",2866.0,house,2023.00,M,2023-02-20,2023-02-21,3,COMMERCIAL,MOLONG
2,3380305.0,2023-02-27,CABONNE,4125000.0,"244 CROCKETTS LANE, LARRAS LEE",2866.0,house,213.38,H,2022-07-28,2023-02-20,R,RESIDENCE,LARRAS LEE
3,2082468.0,2023-02-27,WOOLLAHRA,1450000.0,"2/110 CASCADE ST, PADDINGTON",2021.0,unit,123.00,M,2022-12-09,2023-02-17,R,RESIDENCE,PADDINGTON
4,2080204.0,2023-02-27,WOOLLAHRA,2400000.0,"2/6 BERESFORD RD, ROSE BAY",2029.0,unit,198.80,M,2022-10-20,2023-02-23,R,RESIDENCE,ROSE BAY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2308532,3126629.0,2004-12-16,WOLLONGONG,287500.0,"2/12 HURRY CRES, WARRAWONG",2502.0,unit,261.90,M,2004-10-15,2004-11-12,R,RESIDENCE,WARRAWONG
2308536,3131089.0,2004-12-16,WOLLONGONG,500000.0,"MOORE LANE, AUSTINMER",2515.0,house,349.90,M,2004-06-12,2004-11-22,R,RESIDENCE,AUSTINMER
2308537,3132959.0,2004-12-16,WOLLONGONG,315000.0,"16 BALMER CRES, WOONONA",2517.0,house,692.60,M,2004-08-13,2004-12-03,R,RESIDENCE,WOONONA
2308539,3135607.0,2004-12-16,WOLLONGONG,490000.0,"HOLLYMOUNT VIEW, WOONONA",2517.0,house,677.30,M,2004-06-09,2004-12-01,V,VACANT LAND,WOONONA
2308541,3138813.0,2004-12-16,WOLLONGONG,380000.0,"HAWTHORN ST, TARRAWANNA",2518.0,house,21.17,H,2003-12-15,2004-06-25,V,VACANT LAND,TARRAWANNA

In [12]:
#set the right date format
pty_df['settlement_date'] = pd.to_datetime(pty_df['settlement_date'], format = '%Y-%m-%d')
#pty_df['contract_date'] = pd.to_datetime(pty_df['contract_date'], format = '%Y-%m-%d')
pty_df['download_date'] = pd.to_datetime(pty_df['download_date'], format = '%Y-%m-%d')

In [14]:
pty_df['Settlement Month'] = pty_df['settlement_date'].dt.month
pty_df['Settlement Year'] = pty_df['settlement_date'].dt.year

In [15]:
pty_df

,property_id,download_date,council_name,purchase_price,address,post_code,property_type,area,area_type,contract_date,settlement_date,nature_of_property,primary_purpose,suburb,Settlement Month,Settlement Year
0,1216810.0,2023-02-27,CABONNE,3200000.0,"5796 MITCHELL HWY, LARRAS LEE",2866.0,house,147.20,H,2022-10-20,2022-12-05,R,RESIDENCE,LARRAS LEE,12,2022
1,1217803.0,2023-02-27,CABONNE,410000.0,"53 BANK ST, MOLONG",2866.0,house,2023.00,M,2023-02-20,2023-02-21,3,COMMERCIAL,MOLONG,2,2023
2,3380305.0,2023-02-27,CABONNE,4125000.0,"244 CROCKETTS LANE, LARRAS LEE",2866.0,house,213.38,H,2022-07-28,2023-02-20,R,RESIDENCE,LARRAS LEE,2,2023
3,2082468.0,2023-02-27,WOOLLAHRA,1450000.0,"2/110 CASCADE ST, PADDINGTON",2021.0,unit,123.00,M,2022-12-09,2023-02-17,R,RESIDENCE,PADDINGTON,2,2023
4,2080204.0,2023-02-27,WOOLLAHRA,2400000.0,"2/6 BERESFORD RD, ROSE BAY",2029.0,unit,198.80,M,2022-10-20,2023-02-23,R,RESIDENCE,ROSE BAY,2,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2308532,3126629.0,2004-12-16,WOLLONGONG,287500.0,"2/12 HURRY CRES, WARRAWONG",2502.0,unit,261.90,M,2004-10-15,2004-11-12,R,RESIDENCE,WARRAWONG,11,2004
2308536,3131089.0,2004-12-16,WOLLONGONG,500000.0,"MOORE LANE, AUSTINMER",2515.0,house,349.90,M,2004-06-12,2004-11-22,R,RESIDENCE,AUSTINMER,11,2004
2308537,3132959.0,2004-12-16,WOLLONGONG,315000.0,"16 BALMER CRES, WOONONA",2517.0,house,692.60,M,2004-08-13,2004-12-03,R,RESIDENCE,WOONONA,12,2004
2308539,3135607.0,2004-12-16,WOLLONGONG,490000.0,"HOLLYMOUNT VIEW, WOONONA",2517.0,house,677.30,M,2004-06-09,2004-12-01,V,VACANT LAND,WOONONA,12,2004
2308541,3138813.0,2004-12-16,WOLLONGONG,380000.0,"HAWTHORN ST, TARRAWANNA",2518.0,house,21.17,H,2003-12-15,2004-06-25,V,VACANT LAND,TARRAWANNA,6,2004